@{
    ViewData["Title"] = "Recommend Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Recommended Playlist</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <h3>You should listen to @ViewBag.playlistUrl</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <form asp-action="RecommendMusic">
            <div id="music_rating" class="form-group">
                <label for="rating" class="control-label">How would you rate this playlist? (0-10)</label>
                <input class="form-control" type="number" min="0" max="10" />
                <label for="url" class="control-label" style="visibility:hidden"></label>
                <input class="form-control" style="visibility:hidden" value="@ViewBag.playlistUrl" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
